* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Lexend-Regular;
  src: url(fonts/Lexend/static/Lexend-Regular.ttf);
}

body {
  font-family: 'Lexend-Regular', sans-serif;
  background-color: #DCEDC8;
}

@media all and (orientation: portrait) {
  body {
    padding: 0 20px;
  }
}

@media all and (orientation: landscape) {
  body {
    width: 70%;
    margin: 0 auto;
  }
}

.title {
  font-size: 2.5em;
  font-weight: bold;
  color: #212121;
  text-align: center;
  margin-top: 1em;
}

.pageIntro {
  font-size: 1em;
  color: #212121;
  text-align: center;
}

.introContainer, .memberContainer, .contactContainer {
  width: 80%;
  margin: 0 auto;
}

.contactContainer {
  margin-top: 1em;
  margin-bottom: 5em;
}

.secondSizedTitle {
  font-size: 1.8em;
  font-weight: bold;
  color: #212121;
  text-align: center;
  margin-top: 1em;
}

.contact {
  height: 1.7em;
  width: 13em;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

a {
  height: 2.5em;
  width: 2.5em;
  text-decoration: none;
  border-radius: 50%;
  transition: .3s ease-in-out;
}

a:hover {
  background-color: rgb(163, 236, 175);
}

.icon {
  width: 1.5em;
  height: 1.5em;
  margin-top: .5em;
}

.icon:nth-child(2) {
  transform: scale(.9);
}

.intro {
  font-size: 1.2em;
  color: #212121;
  text-align: center;
  margin-top: 1em;
  margin-bottom: .7em;
}

.card {
  background-color: #DCEDC8;
  border-radius: 50px;
  box-shadow: 0px 0px 10px #212121;
  margin: 0 auto;
  margin-top: 2em;
  position: relative;
  box-shadow:  20px 20px 60px #bbc9aa,
  -20px -20px 60px #fdffe6;
}

@media all and (orientation: landscape) {
  .card {
    width: 23em;
    height: 32em;
  }
}

@media all and (orientation: portrait) {
  .card {
    width: 100%;
    height: 32em;
  }
}

.topBar {
  width: 100%;
  height: 5em;
  background-color: #CDEEA8;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.pfp {
  width: 6em;
  height: 6em;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.name {
  font-size: 1.5em;
  color: #212121;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 5.8em;
  font-weight: bold;
}

.jobs {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 10.7em;
  transform: translate(-50%);
  text-align: center;
}

.job {
  height: 1.5em;
  width: 2.7em;
  font-size: 1em;
  color: #212121;
  text-align: center;
  line-height: 1.5em;
  border-radius: 6px;
  display: inline-block;
  color: #f3f3f4;
}

.job-captain {
  background-color: #f04116;
}

.job-translate {
  background-color: #be7db0;
}

.job-subtitle {
  background-color: #47b3a5;
}

.job-check {
  background-color: #bcca7c;
}

.job-unknown {
  background-color: #c5c5c5;
}

.description {
  width: 80%;
  font-size: 1em;
  color: #212121;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 13em;
}